<footer><!--footer start-->
    <div id="footer">
        <a href="https://github.com/bsbruno/Project_questions_answers.git"> &#x2660 Link github do projeto (By Bruno)&#x2660 </a>
    </div>      
</footer>  <!-- //footer end-->
