<nav><!-- //nav start-->
    <a href="/"><img  class="imgHome" src="/css/img/home.svg" ></a>
            <div class="listHome">
                    <ul id="navbar">
                            <li><a href="/">Home</a></li>
                            <li><a href="/contacts">Contacts</a></li>
                            <li><a href="#">AlgumaCoisa</a></li>
                 </ul>
         </div>
   </nav>  <!-- //nav end-->    